
@import "src/assets/styles/global.scss";
@import "src/assets/styles/_fonts.scss";
@import "src/assets/styles/_spacing.scss";
@import "src/assets/styles/media-queries.scss";
@import "src/assets/styles/_color_pallete.scss";
@import "src/assets/styles/_common.scss";
@import "src/assets/styles/_layouts.scss";


:host {


  &.SiteOfflineView{
    display: block;
    width: 100%;
    height: 100%;
    .SiteOffline{
      &Main{
        &Pod{

          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
          background-color: var(--wml-black);
          width: 100%;
          height: 100%;
          padding: $spacing7;
          * {
            color: var(--wml-white);
          }
          h1{
            margin:calc(100/16 * 1rem) 0 0 0;
          }
          h2{
            font-size: calc(20/16 * 1rem);
          }
        }
      }
      &Pod{

        &0{}
      }
    }
  }

}
