requests
flask
pyngrok
gunicorn
gevent
newsapi-python
pyngrok
flask-ngrok
werkzeug
sendgrid
faker
pytz
sqlalchemy
pyodbc

translatepy
pytest
coverage
requests-mock
pytest-watch
pytest-mock
psycopg2-binary

