#root nav-zero{
  @media #{$mobile}{
    .NavZeroMainPod{
      flex-direction: column;
    }
    .NavZeroMainItem0{
      display: flex;
      justify-content: center;
    }
    .NavZeroMainItem1{
      flex-direction: column;
      align-items: stretch;
      li{
        width: 100%;
        button{
          width: 100%;
        }
      }
    }
  }
}
